/* Coolors Exported Palette - coolors.co/30343f-fafaff-e4d9ff-273469-1e2749 */

/* HSL */
$color1: hsla(224%, 14%, 22%, 1);
$color2: hsla(240%, 100%, 99%, 1);
$color3: hsla(257%, 100%, 93%, 1);
$color4: hsla(228%, 46%, 28%, 1);
$color5: hsla(227%, 42%, 20%, 1);

/* RGB */
$color1: rgba(48, 52, 63, 1);
$color2: rgba(250, 250, 255, 1);
$color3: rgba(228, 217, 255, 1);
$color4: rgba(39, 52, 105, 1);
$color5: rgba(30, 39, 73, 1);